<!-- views/partial/footer.ejs -->

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="/jQuery-3.2.1/jquery.js"></script>
 <script src="/popper.js/dist/umd/popper.min.js"></script>
 <script src="/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

<p class="text-center text-muted"> © Copyright 2017 The Awesome Programme</p>