<!-- views/partial/head.ejs -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>TV series Tracker</title>

<!-- Bootstrap CSS loaded locally -->
<link rel="stylesheet" href="/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css"