<!-- views/partial/head.ejs -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>TV series Tracker</title>

<!-- Bootstrap CSS loaded locally -->
<link rel="stylesheet" type="text/css" href="/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

 <script src="/jQuery-3.2.1/jquery-3.2.1.min.js"></script>
 <script src="/popper/dist/umd/popper.min.js"></script>
 <script src="/bootstrap-4.0.0-beta-dist/js/bootstrap.min.js"></script>