<!DOCTYPE html>
<head>
  <% include ./partials/head %>
  <link rel="stylesheet" type="text/css" href="/CSS/landing.css" >
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>

  <div class="jumbotron container">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">Welcome to the TV Show Tracker Application</p>
    <hr class="my-4">
    <p class="lead intro">This is a TV show tracker web application that allows you to search for your favourite TV shows, view a blurb of information about the TV show and then add these shows to your favourite
      One of the functionalities you will also be able to enjoy is the capability to either see a preview of get a link to see a trailer of the TV show and also track your favourite.
    </p>
  
    <!-- Button trigger modal -->
    <form class="container">
      <div class="form-group ">
        
          <button type="button" id="signup" class=" col-sm-4 col-sm-offset-8  lead btn btn-info" data-toggle="modal" data-target="#exampleModal" value="">
          Sign-up Here
          </button>
          <button type="button" id="signin1" class="col-sm-4 col-sm-offset-8 lead btn btn-info" data-toggle="modal" data-target="#sign-in">
          Please Sign-in Here
          </button>
      
      </div>
    </form>

    <!-- Modal/ sign-up-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Please Sign-up below:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Sign-up form --> 
            <form method="POST" action="/app/home">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username" id="email" aria-describedby="emailID" placeholder="Enter Email" required>
                <small id="emailID" class="form-text text-muted">We'll never share your email with anyone else</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form> <!-- End of sign-up form -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div> <!-- End of Modal/sign-up -->

    <!-- Modal/sign-in -->
    <div id="sign-in" class="modal fade" role="dialog"  tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signinModalLabel">Please Sign in below:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- sign-in form -->
            <form class="form-horizontal" method='POST' action='/app/signin'>
              <div class="form-group">
                <label class="control-label col-sm-3" for="full_name">Full Name:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Enter first name ">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Email:</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="email" name="username" placeholder="Enter email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3"  for="pwd">Password: </label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <% include ./partials/footer %>
</body>